---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Jonathon Hackbarth">
  <div class="min-h-screen bg-gray-50">
    <NavBar />
    <main class="w-full mx-auto">
      <section class="w-full bg-gray-50">
        <section class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
          <Hero />
        </section>
      </section>

      <section class="w-full bg-gray-200">
        <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
          <Projects />
        </div>
      </section>
    </main>
  </div>
</Layout>
