---
import { Image } from "astro:assets";
import profilePic from "../images/jonathonhackbarth.jpeg";
---

<section id="about" class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">
      Hi, I am Jonathon,<br />Cloud Architect
    </h1>
    <p class="hero-description">
      Expert in cloud solutions and automation, driving meaningful
      transformations and empowering teams to succeed through innovative
      technology adoption.
    </p>
    <a
      href="https://docs.google.com/document/d/1enPulOw_YAEvC105e2d5cczOkIpw6vQ_VtAkaxMMtsQ/edit?tab=t.0"
      target="_blank"
      rel="noopener noreferrer"
      class="hero-button"
    >
      Download Resume
    </a>
  </div>
  <div class="hero-image-container">
    <Image
      src={profilePic}
      alt="Jonathon Hackbarth"
      class="hero-image"
      loading="eager"
    />
  </div>
</section>
