---
import "../styles/global.css";
const navItems = [
  { href: "#home", label: "Home" },
  { href: "#about", label: "About" },
  { href: "#projects", label: "Projects" },
  { href: "#contact", label: "Contact" },
];
---

<nav class="navbar -mt-24 pt-24">
  <ul class="nav-list">
    {
      navItems.map((item) => (
        <li>
          <a href={item.href} class="nav-link">
            {item.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
