---
import "../styles/global.css";
const navItems = [
  { href: "#about", label: "About" },
  { href: "#projects", label: "Projects" },
  { href: "#contact", label: "Contact" },
];
---

<nav class="navbar">
  <a href="#" class="nav-link"> Home </a>

  <ul class="nav-list">
    {
      navItems.map((item) => (
        <li class="mb-0">
          <a href={item.href} class="nav-link">
            {item.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
